---
import { Image } from 'astro:assets';
import IEEESensorsCouncil from '../../assets/images/IEEE-Sensors-Council-Logo.png';
import MakeSenseEdutech from '../../assets/images/Makesense Edutech Logo.png';
import PegasusAutomation from '../../assets/images/Pegasus Logo.png';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  subtitle = '',
  title = 'Broght To You By',
  tagline = '',
  items = [],
  columns = 2,

  id,
  isDark = false,
  classes = {},
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`bg-slate-100 dark:bg-slate-800  ${classes?.container ?? ''}`}>
  <div class="flex flex-col lg:flex-row gap-10 justify-between mx-20 align-top items-center">
    <div>
      <h2 class="text-xl font-bold mb-10 text-center">Brought To You By</h2>
      <div class="flex flex-row gap-20 items-center">
        <div>
          <a title="MakeSense Edutech" href="https://makesenseedutech.com" target="_blank">
            <Image
              id="partner-company"
              src={MakeSenseEdutech}
              alt="Logo"
              class="max-w-36 opacity-85 hover:opacity-100"
            />
          </a>
        </div>

        <div>
          <a title="Pegasus Automation" href="https://pegasusautomation.in" target="_blank">
            <Image
              id="partner-company"
              src={PegasusAutomation}
              alt=" Logo"
              class={'max-w-20 opacity-85 hover:opacity-100'}
            />
          </a>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-10 text-center">Supported By</h2>
      <div>
        <a title="IEEE Sensors Council" href="https://ieee-sensors.org/" target="_blank">
          <Image
            id="partner-company"
            src={IEEESensorsCouncil}
            alt="Logo"
            class="max-w-56 opacity-85 hover:opacity-100"
          />
        </a>
      </div>
    </div>
  </div>
</WidgetWrapper>
