---
import { Image } from 'astro:assets';
import IEEESensorsCouncil from '../../assets/images/IEEE-Sensors-Council-Logo.png';
import MakeSenseEdutech from '../../assets/images/Makesense Edutech Logo.png';
import PegasusAutomation from '../../assets/images/Pegasus Logo.png';
import Headline from '../blog/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  subtitle = '',
  title = 'Broght To You By',
  tagline = '',
  items = [],
  columns = 2,

  id,
  isDark = false,
  classes = {},
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="">
    <div class="flex flex-col lg:flex-row gap-10 md:gap-20 justify-between mx-32 my-10 align-top items-center">
      <div>
        <a title="MakeSense Edutech" href="https://makesenseedutech.com" target="_blank">
          <Image id="partner-company" src={MakeSenseEdutech} alt="Logo" class="max-w-52 opacity-85 hover:opacity-100" />
        </a>
      </div>
      <div>
        <a title="Pegasus Automation" href="https://pegasusautomation.in" target="_blank">
          <Image
            id="partner-company"
            src={PegasusAutomation}
            alt=" Logo"
            class={'max-w-28 opacity-85 hover:opacity-100'}
          />
        </a>
      </div>
      <div>
        <a title="IEEE Sensors Council" href="https://ieee-sensors.org/" target="_blank">
          <Image
            id="partner-company"
            src={IEEESensorsCouncil}
            alt="Logo"
            class="max-w-72 opacity-85 hover:opacity-100"
          />
        </a>
      </div>
    </div>
  </div>
</WidgetWrapper>
